@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
html{
  scroll-behavior:smooth;
}

body{
  background:#07070F;
  overflow-x:hidden;
}